<fieldset>
    <div ng-if="isMsg" class="alert alert-success">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{message}}
    </div>
    <div ng-if="isErr" class="alert alert-danger">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{errMessage}}
    </div>
    <legend>
        <h1>Create Location</h1></legend>
    <div class="container-fluid">
        <form id="create-location-form" name="createLocation">
            <!-- N A M E -->
            <div class="control-group form-group col-md-12" ng-class="{'has-error':createLocation.name.$invalid && createLocation.name.$dirty}">
                <label>Name</label>
                <!-- For this input field make it required, and have a max length of 25 -->
                <input type="text" class="form-control" placeholder="e.g. Location" name="name" ng-model="createLocationForm.name" ng-maxlength="100" required ng-blur="validateLocationExist(createLocationForm.name)">
                <span class="help-block has-error" ng-if="createLocation.name.$dirty">
            <span ng-show="createLocation.name.$error.required">Name is required.</span>
                <span ng-show="createLocation.name.$error.maxlength">The name cannot be more than 100 characters.</span>
                <span ng-show="isLocationExist" class="help-block">Location is already taken.</span>
                </span>
            </div>
            
            <div class="control-group form-group col-md-12" ng-class="{'has-error':createLocation.display_name.$invalid && createLocation.dispaly_name.$dirty}">
                <label>Display Name</label>
                <!-- For this input field make it required, and have a max length of 25 -->
                <input type="text" class="form-control" placeholder="e.g. Display Name" name="display_name" ng-model="createLocationForm.display_name" ng-maxlength="100" required ng-blur="validateDisplayNameExist(createLocationForm.display_name)">
                <span class="help-block has-error" ng-if="createLocation.display_name.$dirty">
            <span ng-show="createLocation.display_name.$error.required">Display Name is required.</span>
                <span ng-show="createLocation.display_name.$error.maxlength">The display name cannot be more than 100 characters.</span>
                <span ng-show="isDisplayNameExist" class="help-block">Display Name is already taken.</span>
                </span>
            </div>
            <!-- Disable signup button until the form has no errors -->
            <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="createLocation.$invalid || isLocationExist || isDisplayNameExist" ng-click="createNewLocation()">
                <span ng-hide="LocationForm.loading">Create Location</span>
                <span class="overlord-loading-spinner fa fa-spinner" ng-show="locationForm.loading"></span>
                <span ng-show="locationForm.loading">Preparing your new location...</span>
            </button>
        </form>
    </div>
</fieldset>
