<fieldset>

<div ng-if="isMsg" class="alert alert-success">
  <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{message}}
</div>

<div ng-if="isErr" class="alert alert-danger">
  <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{errMessage}}
</div>

<legend><h1>Create Country</h1></legend>
 <div class="container-fluid">
    <form id="create-country-form" name="createCountry">
    
        <!-- N A M E -->


        <div class="control-group form-group col-md-12" ng-class="{'has-error':createCountry.name.$invalid && createCountry.name.$dirty}">
          <label>Name</label>

          <!-- For this input field make it required, and have a max length of 25 -->
          <input type="text" class="form-control" placeholder="e.g. India" name="name" ng-model="createCountryForm.name" ng-maxlength="100" required ng-blur="validateCountryExist(createCountryForm.name)">


          <span class="help-block has-error" ng-if="createCountry.name.$dirty">
            <span ng-show="createCountry.name.$error.required">Name is required.</span>
            <span ng-show="createCountry.name.$error.maxlength">The name cannot be more than 100 characters.</span>
            <span ng-show="isCountryExist" class="help-block">Coutry is already taken.</span>
          </span>
        </div>

        <!-- Disable signup button until the form has no errors -->
      <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="createCountry.$invalid || isCountryExist" ng-click="createNewCountry()">
        <span ng-hide="createCountryForm.loading">Create Country</span>
        <span class="overlord-loading-spinner fa fa-spinner" ng-show="createCountryForm.loading" ></span>
        <span ng-show="createCountryForm.loading">Preparing your new country...</span>
      </button>
    </form>
 </div>
 </fieldset> 