<h1>Browsers</h1>
<div ng-if="isMsg" class="alert alert-info">
  <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{message}}
</div>

<div ng-if="isErr" class="alert alert-danger">
  <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{errMessage}}
</div>

<a href="#/browser/new">Create new browser</a>
<table id="browsers" cellspacing="0" width="100%" datatable="" class="row-border hover">
	<thead>
	    <tr>
	      <th>Name</th>
	      <th>Locations</th>
	      <th></th>
	    </tr>
  	</thead>
  	<!--<tfoot>
	    <tr>
	      <th>Name</th>
	      <th></th>
	    </tr>
  	</tfoot>-->
	<tbody>
		<tr ng-repeat="browser in browsers" >
			<td>{{browser.name | capitalize}}</td>
			<td>{{browser.locations | joinArrayValues}}</td>
			<td>
				<a href="#/browser/edit/{{browser.id}}" class="btn btn-primary">Edit</a>
				<a href="javascript:void(0)" class="btn btn-danger" ng-click="deleteBrowser(browser.id, browser.name)">Delete</a>
			</td>
		</tr>			
	</tbody>
</table>